@charset "utf-8";
body      {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #151515;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #EFF5F8;
}
#wrapper   {
	background-color: #FFFFFF;
	width: 100%;
	min-width: 740px;
	min-height: 0px;
	max-width: 1002px;
	margin-left: auto;
	margin-right: auto;
}
#hero {
	position: relative;
	clear: left;
	top: 0px;
}
#hero article {
	width: 36%;
	padding-left: 10px;
	padding-right: 10px;
	top: 40px;
	right: 43px;
	position: absolute;
	background-color: #FAA356;
	border-radius: 15px;
	color: #FFFFFF;
}
#hero h2 {
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: -7px;
}



#hero img{
	max-width: 100%;
	width: 100%;
}
h1 , h2 ,h3{
	color: #3399cc;
	font-style: normal;
	font-weight: 600;
	font-family: source-sans-pro;
}
h1 {
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}
#main {
	width: 58%;
	margin-left: 2%;
	float: left;
}
#sidebar {
	width: 34%;
	margin-left: 4%;
	float: left;
}
#content {
	width: 98%;
	margin-left: 2%;
	float: left;
}

footer {
	clear: left;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #43A6CB;
	color: #FFFFFF;
}
figure {
	width: 68%;

}
figure img {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 15px #999999;
	box-shadow: 1px 1px 15px #999999;
	width: auto;
}

figcaption {
	display: block;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.centered {
	margin-left: auto;
	margin-right: auto;

}
.floatleft {
	margin-right: 10px;
	float: left;
}
.floatright {
	margin-left: 10px;
	float: right;
}
.special {
	margin-left: 10%;
	margin-right: auto;

}
.special1 {
	margin-right: auto;
	margin-left: 26%;
}
.special2 {
	margin-right: auto;
	margin-left: 24%;
}



a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #FF6600;
}
a:visited {
	color: #FF944C;

}
a:hover, a:active, a:focus {
	color: #7F3300;
	text-decoration: none;
}
#mainnav ul{
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#mainnav a {
	width: 16.6667%;
	display: block;
	float: left;
	text-align: center;
	background-color: #4D4D4D;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	text-decoration: none;
	background-color: #43A6CB;
}
.updated {
	font-size: 10px;
	font-style: italic;
}
